section.slider {
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0;
    overflow: hidden;
}

.slider-content{
    width: 500%;
    height: auto;
    display: flex;
    
}

.slider-content input{
    display: none;
}

.slider-box{
    width: 20%;
    height: auto;
    position: relative;
    text-align: center;
}

.slider-box img{
    width: 100%;
}

.nav-manual, .nav-auto{
    position: absolute;
    width: 100%;
    margin-top: 40%;
    display: flex;
    justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div{
    border: 1px solid #500d61;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 10px;
}

.nav-manual .manual-btn:hover{
    background-color: #500d61;
}

#bt1:checked ~ .nav-auto .auto-btn1, #bt2:checked ~ .nav-auto .auto-btn2, #bt3:checked ~ .nav-auto .auto-btn3, #bt4:checked ~ .nav-auto .auto-btn4,
#bt5:checked ~ .nav-auto .auto-btn5{
    background-color: #500d61;
}

#bt1:checked ~ .primeiro{
    margin-left: 0%;
    transition: 1s;
}
#bt2:checked ~ .primeiro{
    margin-left: -20%;
    transition: 1s;
}
#bt3:checked ~ .primeiro{
    margin-left: -40%;
    transition: 1s;
}
#bt4:checked ~ .primeiro{
    margin-left: -60%;
    transition: 1s;
}
#bt5:checked ~ .primeiro{
    margin-left: -80%;
    transition: 1s;
}