body {
    background-color: #e6d6e9;

}

.Perso {
    overflow: hidden;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background-color: #632772;
    height: 8vh;
}

a {
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover{
    opacity: 0.7;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}

.logo-nav {
    top: 0.5vh;
    height: 7vh;
   
}

main::after {
    content: "";
    position: fixed;
    top: 7.5vh;
    left: 0;
    height: 93vh;
    width: 80vw;

    background: linear-gradient(-233deg, #500d61 30%, rgba(0, 0, 0, 0) 65%) no-repeat;
}

main .personagem {
    display: none;
    height: 92vh;
}

main .personagem.selecionado {
    display: block;
}

main .personagem .imagem {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.conteudo {
    position: absolute;
    top: 8vh;
    left: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 92vh;
    max-width: 380px;
    z-index: 1;
}

.conteudo .nome-personagem {
    color: #ffffff;
    font-size: 48px;
    font-family: "Secular One";
    font-weight: 400;
    margin-bottom: 20px;
}

.conteudo .descricao {
    color: #ffffff;
    font-family: "Rubik";
    line-height: 24px;
}

.conteudo .logo {
    background-image: url("../imagens/Rezero-logo.png");
    background-size: cover;
    height: 100px;
    width: 230px;
    margin-bottom: 35px;
}


.botoes {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: rgba(80, 13, 97, 0.4);
    width: 150px;
}


.botoes .botao {
    border: none;
    background: #000000;
    cursor: pointer;
    border-radius: 50%;
}

.botoes .botao img {
    border-radius: 50%;
}

.botoes .botao.selecionado {
    transform: scale(1.15);
    box-shadow: 0 0 10px #D9D9D9;
}

.Index-Conteudo{
    display: flex;
    
}


.Titulos-Index {
    padding: 25px;
    padding-left: 75px;
    background-color: #632772;
    margin-top: 50px;
    color: #ffffff;
    font-size: x-large;
}

.Text-Historia-Index p{
    text-align: justify;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 30px;
    width: 60vw;
    font-size: large;
    text-indent: 15px;
}

.Image-div {
    left: 0;
    width: 40vw;
    
}

.barra-lateral {
    position: fixed;
    top: 8vh;
    right: 0;
    height: 92vh;
    overflow-y: auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    z-index: 2;
    
}   

.footer {
   
    height: 250px;
    width: 100%;
    background-color: #632772;
    display: flex;

}

hr {
   
    margin-bottom: 30px;
}

.links li{
    display: list-item;
    margin-left: 2vw;
    padding-top: 4vh;
    font-size: medium;
    width: 200px;

}
.links li a{
    color: #ffffff;
}

.Descricao{
    position: relative;
    padding-top: 50px;
    margin-left: 25vw;
    margin-right: 15vw;
    color: #ffffff;
    text-align: justify;
    width: 45vw;
}

.Redes {
    margin-left: 2vw;
    padding-top: 4vh;
}

.Redes li{
    margin-bottom: 10px;
}

.Acompanha-Tela {
    position: fixed;
    bottom: 0;
    right: 0;
}

.Acompanha-Tela img {
    height: 280px;
}

.cabecalho-historia {
    background-image: url('../imagens/cabecalho-rezero.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #000000;
    padding: 100px 20px;
}

.cabecalho-historia h1 {
    font-family: 'Cinzel', serif;
    font-size: 48px;
    margin-bottom: 20px;
}

.cabecalho-historia .subtitulo {
    font-family: 'Merienda', cursive;
    font-size: 24px;
    font-style: italic;
}

.Body-Historia {
    display: flex;
}

.Aside-Left-Historia {
    width: 20vw;
}
.Aside-Right-Historia {
    width: 20vw;
}

.Titulos-Historia {
    padding: 25px;
    background-color: #632772;
    color: #ffffff;
    font-size: x-large;
    width: 100%;
}

.Corpo {
    width: 60vw;
    border-left: 1px solid;
    border-right: 1px solid;
}

.Conteudo-Introducao {
    display: flex;
}

.Img-Introducao {
    width: 60vw;
}

.Img-Introducao img{
    width: 100%;
    float: left;
}

.Texto-Introducao {
    text-align: justify;
    margin: 10px;
}