body {
    background-color: #e6d6e9;
    overflow-wrap: hidden;
}

.Perso {
    overflow: hidden;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background-color: #632772;
    height: 8vh;
}

a {
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover{
    opacity: 0.7;
}

.nav-list {
    list-style: none;
    display: flex;
    z-index: 1;
}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}

.logo-nav {
    top: 0.5vh;
    height: 7vh;
   
}

.mobile-menu {
    cursor: pointer;
    display: none;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background: #ffffff;
    margin: 8px;
}

@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }
    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #632772;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        z-index: 2;
    }
    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }

    .nav-list.active {
        transform: translateX(0);
    }

    .Acompanha-Tela {
        display: none;
    }
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

main::after {
    content: "";
    position: fixed;
    top: 7.5vh;
    left: 0;
    height: 93vh;
    width: 80vw;

    background: linear-gradient(-233deg, #500d61 30%, rgba(0, 0, 0, 0) 65%) no-repeat;
}

main .personagem {
    display: none;
    height: 92vh;
}

main .personagem.selecionado {
    display: block;
}

main .personagem .imagem {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.conteudo {
    position: absolute;
    top: 8vh;
    left: 6vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 92vh;
    max-width: 30vw;
    z-index: 1;
}

.conteudo .nome-personagem {
    color: #ffffff;
    font-size: 48px;
    font-family: "Secular One";
    font-weight: 400;
    margin-bottom: 3vh;
}

.conteudo .descricao {
    color: #ffffff;
    font-family: "Rubik";
    line-height: 24px;
}

.conteudo .logo {
    background-image: url("../imagens/Rezero-logo.png");
    background-size: cover;
    height: 100px;
    width: 230px;
    margin-bottom: 5vh;
}


.botoes {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: rgba(80, 13, 97, 0.4);
    width: 150px;
}


.botoes .botao {
    border: none;
    background: #000000;
    cursor: pointer;
    border-radius: 50%;
}

.botoes .botao img {
    border-radius: 50%;
}

.botoes .botao.selecionado {
    transform: scale(1.15);
    box-shadow: 0 0 10px #D9D9D9;
}

.Index-Conteudo{
    display: flex;
    
}


.Titulos-Index {
    padding: 25px;
    padding-left: 75px;
    background-color: #632772;
    margin-top: 50px;
    color: #ffffff;
    font-size: x-large;
}

.Text-Historia-Index p{
    text-align: justify;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 30px;
    width: 60vw;
    font-size: large;
    text-indent: 15px;
}

.Image-div {
    left: 0;
    width: 40vw;
    
}

.barra-lateral {
    position: fixed;
    top: 8vh;
    right: 0;
    height: 92vh;
    overflow-y: auto; 
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    z-index: 2;
    
}   

.footer {
   
    height: 250px;
    width: 100%;
    background-color: #632772;
    display: flex;

}

hr {
   
    margin-bottom: 30px;
}

.links li{
    display: list-item;
    margin-left: 2vw;
    padding-top: 4vh;
    font-size: medium;
    width: 200px;

}
.links li a{
    color: #ffffff;
}

.Descricao{
    position: relative;
    padding-top: 50px;
    margin-left: 25vw;
    margin-right: 15vw;
    color: #ffffff;
    text-align: justify;
    width: 45vw;
}

.Redes {
    margin-left: 2vw;
    padding-top: 4vh;
}

.Redes li{
    margin-bottom: 10px;
}

.Acompanha-Tela {
    position: fixed;
    bottom: 0;
    right: 0;
}

.Acompanha-Tela img {
    height: 280px;
}

.Acompanha-Tela :hover{
    cursor: pointer;
}

.cabecalho-historia {
    background-image: url('../imagens/cabecalho-rezero.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #000000;
    padding: 100px 20px;
}

.cabecalho-historia h1 {
    font-family: 'Cinzel', serif;
    font-size: 48px;
    margin-bottom: 20px;
}

.cabecalho-historia .subtitulo {
    font-family: 'Merienda', cursive;
    font-size: 24px;
    font-style: italic;
}

.Body-Historia {
    display: flex;
}

.Aside-Left-Historia {
    width: 15vw;
}
.Aside-Right-Historia {
    width: 15vw;
}

.Titulos-Historia {
    padding: 25px;
    background-color: #632772;
    color: #ffffff;
    font-size: x-large;
    width: 100%;
}

.Corpo {
    width: 70vw;
    border-left: 1px solid;
    border-right: 1px solid;
}

.Conteudo-Introducao {
    display: flex;
}

.Img-Introducao {
    width: 35vw;
    max-width: 100%;
    
}

.Img-Introducao img {
    width: 100%;
    height: auto;
    display: block;
}


.Texto-Introducao {
    width: 65vw;
    text-align: justify;
    margin: 10px;
    text-indent: 15px;
    font-family: 'Merienda', cursive;
    font-size: 15px;
}

.cabecalho-Curiosidades {
    background-image: url('../imagens/Cabecalho-Curiosidades.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #000000;
    padding: 100px 20px;
}

.cabecalho-Curiosidades h1 {
    font-family: 'Cinzel', serif;
    font-size: 48px;
    margin-bottom: 20px;
}

.cabecalho-Curiosidades .subtitulo {
    font-family: 'Merienda', cursive;
    font-size: 24px;
    font-style: italic;
}

.Informacoes {
    width: 23em;
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom: 1px solid;
    text-align: left;
    font-size: 88%;
    border-right: 1px solid;
}

.Header-Info {
    background-color: #9542aa; 
    font-size: 120%; 
    font-weight: bold; 
    text-align:center;
}

.Subtitulo-Info {
    text-align:center;
    background-color: #b852d1;
    vertical-align: middle;
}

.Info-Titulo {
    text-align:center; 
    background-color: #b852d1;
    vertical-align: middle;
}

.Gen {
    vertical-align: top; 
    text-align: left; 
    text-align: left; 
    width: 90px;
    font-weight: bold;
}
.Img-Introducao table {
    width: 100%;
    height: auto;
    display: block;
}

details p {
    text-align: justify;
    margin: 10px;
    text-indent: 15px;
    font-family: 'Merienda', cursive;
    font-size: 15px;
}

.Text {
    text-align: justify;
    margin: 10px;
    text-indent: 15px;
    font-family: 'Merienda', cursive;
    font-size: 15px;
}